<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Temperature and Humidity</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='event.css') }}">
</head>
<body>
    <div class="navbar">
      <a href=Feedback>Feedback</a>
      <a href=Event>Event</a>
      <div class="dropdown">
        <button class="dropbtn">About
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href=About_us>About us</a>
          <a href=About_project>About project</a>
        </div>
      </div>
      <a href=Country>Country</a>
      <a href=State>State</a>
      <a href=Home>Home</a>
      <div class="logo">
          <img src="{{ url_for('get_image', filename='helpline.png') }}" alt="">
      </div>
      <div class="helpline">
          <h4>Helpline:1234567891</h4>
      </div>
    </div>
    <div class="wrapper">
        <div class="card">
            <img src="{{ url_for('get_image', filename='1.jpg') }}" alt="">
            <div class="info">
                <h1>Summer</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam assumenda beatae dolor dolore doloribus earum excepturi facere facilis fuga illo modi, necessitatibus non pariatur quibusdam quidem rerum soluta veritatis.</p>
                <a href="https://www.google.com" class="btn" target="_blank">READ MORE</a>
            </div>
        </div>
        <div class="card">
            <img src="{{ url_for('get_image', filename='2.jpg') }}" alt="">
            <div class="info">
                <h1>Spring</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam assumenda beatae dolor dolore doloribus earum excepturi facere facilis fuga illo modi, necessitatibus non pariatur quibusdam quidem rerum soluta veritatis.</p>
                <a href="#" class="btn">READ MORE</a>
            </div>
        </div>
        <div class="card">
            <img src="{{ url_for('get_image', filename='3.jpg') }}" alt="">
            <div class="info">
                <h1>Autumn</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam assumenda beatae dolor dolore doloribus earum excepturi facere facilis fuga illo modi, necessitatibus non pariatur quibusdam quidem rerum soluta veritatis.</p>
                <a href="#" class="btn">READ MORE</a>
            </div>
        </div>
        <div class="card">
            <img src="{{ url_for('get_image', filename='4.jpg') }}" alt="">
            <div class="info">
                <h1>Winter</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam assumenda beatae dolor dolore doloribus earum excepturi facere facilis fuga illo modi, necessitatibus non pariatur quibusdam quidem rerum soluta veritatis.</p>
                <a href="#" class="btn">READ MORE</a>
            </div>
        </div>
    </div>

</body>
</html>